body {
  margin: 0;
  padding: 0;
  font-size: $sizeFontBase;
  line-height: 1.2 * $sizeFontBase;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

svg {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

body * {
  box-sizing: border-box;
}

div,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.8 * $sizeFontBase;
  line-height: 2 * $sizeFontBase;
}

h2 {
  font-size: 1.5 * $sizeFontBase;
  line-height: 1.7 * $sizeFontBase;
  padding: 0;
  margin: $sizeD 0 $sizeD 0;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.2 * $sizeFontBase;
  line-height: 1.4 * $sizeFontBase;
  padding: 0;
  margin: $sizeC 0 $sizeC 0;

  &:first-child {
    margin-top: 0;
  }
}

.icon {
  width: 1.7 * $sizeFontBase;
  height: 1.7 * $sizeFontBase;
  display: inline-block;
  .fillRed {
    fill: #8b1717;
  }
}
