@use 'sass:math';
@use 'sass:list';

@function log($x) {
  @return math.div(math.log($x), math.log(10));
}

@function exp($x) {
  @return math.pow(10, $x);
}

$colorGrayMedium: #a2a2a2;
$colorGrayDark: #555555;
$colorBgLight: #e0f4ec;
$colorText: $colorGrayDark;
$colorButtonBg: #c2e6e5;
$colorButtonBgHover: #acd4d3;

$sizeFontBase: 14px;
$sizeA: 2px;
$sizeB: 3px;
$sizeC: 5px;
$sizeD: 7px;
$sizeE: 10px;
